body {
  background-color: #6ca486;
  margin: 15px;
}

h1 {
  font-family: 'Montserrat';
  margin: 10px 0 15px 30px;
  color: #0f6336;
}

h2 {
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 1em;
  font-weight: bold;
}

h3 {
  font-family: "Montserrat";
  margin: 25px 0 25px 25px;
  color: #0f6336;
}

h4 {
    font-family: "Montserrat";
    padding: 15px 0 0 15px;
    color: #0f6336;
    display: inline-flex;
    margin: 0;
}

select {
    font-family: 'Montserrat';
}

.top-container {
  margin: 15px auto;
  height: auto;
  width: 90%;
  background-color: white;
  border-radius: 5px 5px;
  position: relative;
}

.logo-image {
  width: 45%;
}

.buttons-div {
  width: 16.5%;
  display: inline-block;
  position: absolute;
  top: 13%;
  right: 2.5%;
}

.upper-button {
  margin-bottom: 5px;
}

.bottom-container-homepage {
  margin: auto;
  width: 90%;
  height: 1450px;
  position: relative;
}

.bottom-container {
  margin: auto;
  width: 90%;
  height: 650px;
  position: relative;
}

.advanced-search {
  background-color: white;
  height: 650px;
  width: 23%;
  display: inline-block;
  position: sticky;
  top: 0;
  left: 0;
  border-radius: 5px 5px;
}

.nature-delib, .nature-doc, .between-date, .title-contains, .title-contains-not, .text-contains, .text-contains-not {
  margin: 0 15px 20px 30px;
  font-family: "Montserrat";
}

.search-button {
  position: relative;
  text-align: center;
  margin-top: 45px;
}

label {
  display: block;
}

.chosen_values {
    border-radius: 5px;
    background-color: #F5FAF7;
    margin: 0 30px;
    padding: 0 5px 10px 10px;
}

.chosen-article {
    margin: 0 30px;
    padding: 10px 0;
    height: 450px;
    background-color: #F5FAF7;
    border-radius: 5px;
}

.p-chosen-values {
    font-family: "Montserrat";
    color: #0f6336;
    display: inline;
    white-space: normal;
}

.p-chosen-article {
    font-family: "Montserrat";
    color: #0f6336;
    padding: 0 25px;
    overflow-y: auto;
}

hr {
  border-style: dotted none none;
  border-color: #6ca486;
  border-width: 3px;
  height: 0px;
  width: 85%;
  position: relative;
  bottom: 10px;
}

.results {
  background-color: white;
  height: 1450px;
  width: 76%;
  margin-left: 8px;
  display: inline-block;
  position: absolute;
  right: 0;
  border-radius: 5px 5px;
}

.latest-deliberations {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  background-color: #F5FAF7;
  border-radius: 5px;
  overflow-y: scroll;
}

.statistical-information, .extra-information {
  width: 100%;
  height: 350px;
  background-color: #F5FAF7;
  border-radius: 5px;
}

.extra-information {
    height: 450px;
}

.hr-latest-results {
  width: 95%;
}

.results-table-div {
  position: relative;
  margin: auto;
  height: 65%;
  max-height: 350px;
  width: 95%;
  border-radius: 5px 5px;

}

.results-p {
  display: inline;
  font-size: 1em;
  font-family: 'Montserrat';
  font-weight: lighter;
  white-space: normal;
}

.a-tag {
  text-decoration: none;
  color: black;
}

.a-tag:hover {
  text-decoration: underline;
}

.right-arrow {
  display: block;
  font-family: 'Roboto';
  font-weight: bold;
  color: #0f6336;
}

.article {
  margin: 0 15px;
}

.about-container {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.about-button {
  margin: 15px 0 15px 30px;
}

.stats-button, .autre-stats-button {
  position: absolute;
  top: 15px;
  right: 25px;
}

#contact-button {
  position: absolute;
  top: 16%;
}

.form {
  margin: 0 0 30px 50px;
  font-family: 'Montserrat';

}

.form-label {
  margin: 10px 0 3px 5px;
}

.message-submit-div {
  margin: 20px 0;
}

textarea {
  resize: none;
  width: 500px;
  height: 160px;
}

.single-delib-stats {
    background-color: #F5FAF7;
    margin: 0 auto;
    display: flex;
    width: 91%;
    position: relative;
    padding: 5px 25px;
    border-radius: 5px;
    height: 450px;
    overflow-y: scroll;
}

.single-delib-most-freq {
    font-family: 'Montserrat';
    color: #0f6336;
    margin: 0;
    margin-top: 3px;
}

.word-cloud {
    position: absolute;
    right: 0;
    margin-right: 15px;
}

.word-cloud-img {
    width: 550px;
    height: 350px;
    display: block;
    margin: auto;
}

.ngram-div {
    position: absolute;
    top: 450px;
    width: 95%;
    margin: 0 15px;
}

button, .message-submit, .search-button input[type="submit"], .other-search-button input[type="submit"] {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 5px;
  box-sizing: border-box;
  color: #0f6336;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: 200px;
  max-width: 200px;
}

button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

button:active {
  background-color: #F7F7F7;
  border-color: #0f6336;
  transform: scale(.96);
}

button:disabled {
  border-color: #0f6336;
  color: #0f6336;
  cursor: not-allowed;
  opacity: 1;
}

#smaller-button {
    width: 180px;
    max-width: 180px;
    padding: 6px 13px;
    font-size: 14px;
    line-height: 12px;
}

.checkbox {
  display: flex;
}

.nature-delib {
  position: relative;
  display: inline-block;
}

.concordance-table {
    font-family: 'Montserrat';
    position: relative;
    display: inline-flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  width: 200px;
}

.dropdown-header {
  padding: 0px;
  border: 1px solid grey;
  border-radius: 5%;
  cursor: pointer;
}

.selected-options {
  display: inline-block;
}

.dropdown-arrow {
  float: right;
  width: 0;
  height: 0;
  margin-top: 8px;
  margin-right: 3px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
  overflow-y: scroll;
}

.dropdown-option {
  display: flex;
  padding: 2px 0;
  font-size: 14px;
}

.dropdown-option input[type="checkbox"] {
  margin-right: 10px;
}

.dropdown-container:hover .dropdown-menu,
.dropdown-container:focus .dropdown-menu {
  display: block;
}

.dropdown-label {
    max-width: 200px;
    max-height: 50px;
    display: inline-block;
    overflow-y: auto;
    word-wrap: break-word;
}

.error {
  font-family: "Montserrat";
  font-size: 11px;
  color: red;
  display: inline;
}
