<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>À propos</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="logo/favicon_1.ico">
  </head>

  <body>
    <div class="top-container">
      <img src="logo/logo-transparent-png.png" alt="" class="logo-image">
      <div class="buttons-div" id="contact-button">
        <button type="button" name="button">Nous contacter</button>
      </div>

    </div>

    <div class="bottom-container">
      <div class="about-container">
        <button type="button" name="button" class="about-button">Page d'accueil</button>
        <hr class="hr-latest-results">
        <h1>À propos</h2>
        <h3>Description du projet</h3>

      </div>
    </div>




  </body>
</html>
