{% extends "base.html" %}
{% block title %}À propos{% endblock %}
{%block content %}
<div class="top-container">
  <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo/logo-transparent-png.png') }}" alt="" class="logo-image"></a>
  <div class="buttons-div" id="contact-button">
    <a href="{{ url_for('get_contact') }}"><button type="button" name="button">Nous contacter</button></a>
  </div>

</div>

<div class="bottom-container">
  <div class="about-container">
    <a href="{{ url_for('index') }}"><button type="button" name="button" class="about-button">Page d'accueil</button></a>
    <hr class="hr-latest-results">
    <h1>À propos</h1>
    <h3>Qu’est-ce que la CNIL ?</h3>
    <p class="p-a-propos">Dans le monde numérique, la Commission nationale de l'informatique et des libertés (CNIL) est responsable de la réglementation des données personnelles. Elle aide les professionnels à se conformer aux règles et aide également les particuliers à gérer leurs données personnelles et à exercer leurs droits.
    </p>
    <h3>Ce que fait la CNIL</h3>
    <p class="p-a-propos">La CNIL, ou Commission nationale de l'informatique et des libertés, joue un rôle essentiel dans la protection des données personnelles en France. Elle a pour mission d'aider les particuliers à exercer leurs droits relatifs à leurs données personnelles et d'accompagner les professionnels dans leur mise en conformité. En outre, la CNIL se préoccupe également des sujets émergents liés à l'utilisation de la technologie et de l'innovation, et elle utilise des outils tels que des audits et des sanctions pour s'assurer que les organismes respectent les réglementations en matière de protection des données.on des données personnelles et dans la promotion de leur utilisation éthique et responsable.
    </p>
    <h3>Notre rôle</h3>
    <p class="p-a-propos">Notre outil s'adresse principalement à ceux qui ont besoin d'explorer les délibérations de la CNIL, de mener des recherches précises, d'analyser le langage utilisé dans les textes et de réaliser des analyses textométriques (statistiques sur l'utilisation des mots, concordances, etc.). En conséquence, l'outil vise les juristes, les linguistes, les responsables de la protection des données (DPO), les humanitaires numériques, les étudiants en droit, et tous ceux qui sont intéressés par l'analyse des données de la CNIL et la protection des données personnelles.
    </p>

  </div>
</div>
{% endblock %}

