{% extends "base.html" %}
{% block title %}À propos{% endblock %}
{%block content %}
<div class="top-container">
  <a href="{{ url_for('index') }}"><img src="static/logo/logo-transparent-png.png" alt="" class="logo-image"></a>
  <div class="buttons-div" id="contact-button">
    <a href="{{ url_for('get_contact') }}"><button type="button" name="button">Nous contacter</button></a>
  </div>

</div>

<div class="bottom-container">
  <div class="about-container">
    <a href="{{ url_for('index') }}"><button type="button" name="button" class="about-button">Page d'accueil</button></a>
    <hr class="hr-latest-results">
    <h1>À propos</h1>
    <h3>Description du projet</h3>

  </div>
</div>
{% endblock %}

