{% extends "base.html" %}
{% block title %}Autres stats{% endblock %}
{%block content %}
<div class="top-container">
  <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo/logo-transparent-png.png') }}" alt="" class="logo-image"></a>
  <div class="buttons-div">
    <a href="{{ url_for('get_about') }}"><button class="upper-button" type="button" name="button">À propos</button></a>
    <a href="{{ url_for('get_contact') }}"><button type="button" name="button">Nous contacter</button></a>
  </div>

</div>

<div class="bottom-container">
  <div class="about-container">
    <a href="{{ url_for('index') }}"><button type="button" name="button" class="about-button">Page d'accueil</button></a>
    <hr class="hr-latest-results">
    <form method="POST" action=" {{ url_for('autres_stats') }}">
      <div style="margin: 0 30px; display: inline-flex;">
        <input style="width: 195px; margin-right: 10px;" type="text" name="search_term">
        <div class="other-search-button">
          <input type="submit" value="Recherche" id="smaller-button">
        </div>
      </div>
    </form>
    <h3>Concordancier</h3>
    <hr class="hr-latest-results">
    <div class="concordance-table">
      <h2>Résultat(s) pour "{{ search_term }}"</h2>
      <h2>{{ results | length }}  résultats trouvé(s)</h2>
      {% if results %}
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Context gauche</th>
            <th>Mot</th>
            <th>Contexte droit</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
          <tr>
            <td>{{ result[0] }}</td>
            <td>{{ result[1] }}</td>
            <td>{{ result[2] }}</td>
            <td>{{ result[3] }}</td>
            <td>{{ result[4] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No results found.</p>
      {% endif %}
    </div>
    <h3>Chronogramme de mots</h3>
    <hr class="hr-latest-results">
    <div class="statistical-information">
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" src="{{ url_for('static', filename='images/ngram.html') }}"></iframe>
    </div>
  </div>
</div>
{% endblock %}

