{% extends "base.html" %}
{% block title %}Recherche{% endblock %}
{% block content %}

<div class="top-container">
  <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo/logo-transparent-png.png') }}" alt="" class="logo-image"></a>
  <div class="buttons-div">
    <a href="{{ url_for('get_about') }}"><button class="upper-button" type="button" name="button">A propos</button></a>
    <a href="{{ url_for('get_contact') }}"><button type="button" name="button">Nous contacter</button></a>
  </div>
</div>

<div class="bottom-container-page-delib">
  <div class="delib-container">
    <a href="{{ url_for('index') }}"><button type="button" name="button" class="about-button">Page d'accueil</button></a>
    <div class="stats-button">
    <a href=""><button type="button" name="button" class="about-button">Autres stats</button></a>
    </div>

    <hr class="hr-latest-results">
    <h1>Resultat</h1>

    <div class="chosen-article">
      <h3>{{ deliberation['IDCNIL'] }}</h3>
      <h3>{{ deliberation['Titre'] }}</h3>
      <p class="p-chosen-article"><span class="bold-text">Titre long : </span>{{ deliberation['TitreLong'] }}</p>
      <p class="p-chosen-article"><span class="bold-text">Nature document : </span>{{ deliberation['NatureDocument'] }}</p>
      <p class="p-chosen-article"><span class="bold-text">Numéro : </span>{{ deliberation['Numero'] }}</p>
      <p class="p-chosen-article"><span class="bold-text">Nature délibération : </span>{{ deliberation['NatureDeliberation'] }}</p>
      <p class="p-chosen-article"><span class="bold-text">Date du texte : </span>{{ deliberation['DateTexte'] }}</p>
      <p class="p-chosen-article"><span class="bold-text">Date de publication : </span>{{ deliberation['DatePublication'] }}</p>
      <p class="p-chosen-article"><span class="bold-text">Etat juridique : </span>{{ deliberation['EtatJuridique'] }}</p>
      <div class="chosen-article-content">
        <p class="p-chosen-article">{{ deliberation['Contenu'] }}</p>
      </div>
    </div>
  </div>
</div>

<div class="bottom-container-stats">
  <div class="about-container">
    <h1 class="search-stats">Statistiques pour une seule délibération</h1>
    <hr class="hr-latest-results">
    <div class="single-delib-stats">
      <div class="word-freq">
        <h3>Les mots les plus fréquents</h3>
        <table>
          <tr>
            <td>Mot</td>
            <td>POS</td>
            <td>Lemme</td>
            <td>Fréquence</td>
          </tr>
          {% for key, value in word_freq: %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value["pos"] }}</td>
            <td>{{ value["lemma"] }}</td>
            <td>{{ value["freq"] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="word-cloud">
        <h3>Nuage de mots</h3>
        <img class="word-cloud-img" src="data:image/png;base64,{{ word_cloud }}" alt="Word Cloud">
      </div>
    </div>
  </div>
</div>
{% endblock %}

