<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyseur DataCNIL</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="static/logo/favicon_1.ico">

  </head>
  <body>

    <div class="top-container">
      <img src="static/logo/logo-transparent-png.png" alt="" class="logo-image">
      <div class="buttons-div">
        <button class="upper-button" type="button" name="button">A propos</button>
        <button type="button" name="button">Nous contacter</button>
      </div>

    </div>

    <div class="bottom-container-homepage">

      <div class="advanced-search">
        <h3>Recherche avancée</h3>
        <hr>

        <div class="nature-doc">
          <label>Nature du document</label>
          <select>
            <option>

            </option>
          </select>
        </div>

        <div class="nature-delib">
          <label>Nature de la delibération</label>
          <select>
            <option>

            </option>
          </select>
        </div>

        <div class="between-date">
          <label>De</label>
          <input type="date" id="from-date" name="from-date">
          <label>à</label>
          <input type="date" id="to-date" name="to-date">
        </div>

        <div class="title-contains">
          <label>Titre contient</label>
          <input type="text" name="title-contains" value="">
        </div>

        <div class="title-contains-not">
          <label>Titre ne contient pas</label>
          <input type="text" name="title-contains-not" value="">
        </div>

        <div class="text-contains">
          <label>Texte contient</label>
          <input type="text" name="text-contains" value="">
        </div>

        <div class="text-contains-not">
          <label>Texte ne contient pas</label>
          <input type="text" name="title-contains" value="">
        </div>

        <div class="search-button">
          <button class="">Recherche</button>
        </div>

      </div>

      <div class="results">
        <h3>Dernières déliberations</h3>
        <hr class="hr-latest-results">

        <div class="results-table-div">

          <div class="latest-deliberations">
            {% for index, row in df.iterrows(): %}
            <article class="article">
              <h2>{{row['Titre']}}<span> — </span>
                <p class="results-p">
                  <a href="" class="a-tag">
                    {{row['TitreLong']}}
                  </a>
                </p>
              </h2>
            </article>
            {% endfor %}
  
          </div>

          <h3>Informations statistiques</h3>
          <hr class="hr-latest-results">

          <div class="statistical-information">
            
            <img src= {{ url }} alt="Chart">


          </div>


        </div>

      </div>

    </div>



  </body>
</html>
