{% extends "base.html" %}
{% block title %}Analyseur DataCNIL{% endblock %}
{% block content %}
<div class="top-container">
  <img src="static/logo/logo-transparent-png.png" alt="" class="logo-image">
  <div class="buttons-div">
    <a href="{{ url_for('get_about') }}"><button class="upper-button" type="button" name="button">A propos</button></a>
    <a href="{{ url_for('get_contact') }}"><button type="button" name="button">Nous contacter</button></a>
  </div>
</div>

<div class="bottom-container-homepage">
  <div class="advanced-search">
    <h3>Recherche avancée</h3>
    <hr>
    <form method="POST" action="{{ url_for('get_results') }}">
      <div class="nature-doc">
        <label>Nature du document</label>
          <div class="checkbox">
            {% for row in nature_doc: %}
            <input type="checkbox" name="nature_doc_box" id="doc_1" value="{{ row.NatureDocument }}"><label for="doc_1">{{ row.NatureDocument }}</label>
            {% endfor %}
          </div>
      </div>

      <div class="nature-delib">
        <label>Nature de la délibération</label>
        <div class="dropdown-container">
          <div class="dropdown-header">
            <div class="selected-options"></div>
            <div class="dropdown-arrow"></div>
          </div>
          <ul class="dropdown-menu">
            {% for row in nature_delib: %}
            <li class="dropdown-option">
              <input type="checkbox" name="nature_delib_box" id="delib_1" value="{{ row.NatureDeliberation }}"><label for="delib_1">{{ row.NatureDeliberation }}</label>
            </li>            
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="between-date">
        <label for="from-date">De</label>
        <input type="date" id="from-date" name="from-date" value="from-date">
        <label for="to-date">à</label>
        <input type="date" id="to-date" name="to-date" value="to-date">
      </div>

      <div class="title-contains">
        <label>Titre contient</label>
        <input type="text" name="title-contains" value="">
      </div>

      <div class="title-contains-not">
        <label>Titre ne contient pas</label>
        <input type="text" name="title-contains-not" value="">
      </div>

      <div class="text-contains">
        <label>Texte contient</label>
        <input type="text" name="text-contains" value="">
      </div>

      <div class="text-contains-not">
        <label>Texte ne contient pas</label>
        <input type="text" name="text-contains-not" value="">
      </div>

      <div class="search-button">
        <input type="submit" value="Recherche">
      </div>
    </form>

  </div>

  <div class="results">
    <h3>Dernières déliberations</h3>
    <hr class="hr-latest-results">

    <div class="results-table-div">
      <div class="latest-deliberations">
        <article class="article">
          {% for row in latest_delib: %}
          <h2>{{ row.Titre }}<span> — </span>
            <p class="results-p">
              <a href="{{ url_for('get_deliberation', IDDelib=row.IDDelib) }} " class="a-tag">
                {{ row.TitreLong }}
              </a>
            </p>
          </h2>
          {% endfor %}
        </article>
      </div>

      <h3>Informations statistiques</h3>
      <hr class="hr-latest-results">

      <div class="statistical-information">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" src="{{ url_for('static', filename='images/delib.html') }}"></iframe>
      </div>

      <h3>Avertissement</h3>
      <hr class="hr-latest-results">

      <div class="statistical-information">


      </div>
    </div>
  </div>
</div>
{% endblock %}
