{% extends "base.html" %}
{% block title %}Nous contacter{% endblock %}
{% block content %}
<div class="top-container">
  <a href="{{ url_for('index') }}"><img src="static/logo/logo-transparent-png.png" alt="" class="logo-image"></a>
  <div class="buttons-div" id="contact-button">
    <a href="{{ url_for('get_about') }}"><button type="button" name="button">À propos</button></a>
  </div>

</div>

<div class="bottom-container">
  <div class="about-container">
    <a href="{{ url_for('index') }}"><button type="button" name="button" class="about-button">Page d'accueil</button></a>
    <hr class="hr-latest-results">

    {% if msg_sent: %}
    <h1>Merci de votre message.</h1>
    <h3>Nous essaierons de vous répondre dans les plus brefs délais.</h3>
    {% else: %}
    <h1>Nous contacter</h1>
    <h3>Si vous avez des questions, n'hésitez pas à nous contacter.</h3>

    <form class="form" action="/contact" method="post">
      <label class="form-label" for="fname">Prénom*</label>
      <input type="text" id="fname" name="firstname" placeholder="" value="{{ firstname }}">
      {% if error == "Tous les champs sont obligatoires." and not firstname %}
        <div class="error">Ce champ est obligatoire.</div>
      {% endif %}

      <label class="form-label" for="lname">Nom*</label>
      <input type="text" id="lname" name="lastname" placeholder="" value="{{ lastname }}">
      {% if error == "Tous les champs sont obligatoires." and not lastname %}
        <div class="error">Ce champ est obligatoire.</div>
      {% endif %}

      <label class="form-label" for="lname">Email*</label>
      <input type="text" id="email" name="email" placeholder="" value="{{ email }}">
      {% if error == "Tous les champs sont obligatoires." and not email %}
      <div class="error">Ce champ est obligatoire.</div>
      {% elif error == "Veuillez saisir une adresse e-mail valide." %}
      <div class="error">{{ error }}</div>
      {% endif %}

      <label class="form-label" for="msg">Message*</label>
      <textarea id="msg" name="subject" placeholder="Ecrivez votre message" value="{{ subject }}"></textarea>
      {% if error == "Tous les champs sont obligatoires." and not subject %}
      <div class="error">Ce champ est obligatoire.</div>
      {% endif %}
      <br>
      <div class="message-submit-div">
        <input class="message-submit" type="submit" value="Envoyer">
      </div>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
