{% extends "base.html" %}
{% block title %}Recherche{% endblock %}
{% block content %}

<div class="top-container">
  <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo/logo-transparent-png.png') }}" alt="" class="logo-image"></a>
  <div class="buttons-div">
    <a href="{{ url_for('get_about') }}"><button class="upper-button" type="button" name="button">A propos</button></a>
    <a href="{{ url_for('get_contact') }}"><button type="button" name="button">Nous contacter</button></a>
  </div>
</div>

<div class="bottom-container">
  <div class="about-container">
    <a href="{{ url_for('index') }}"><button type="button" name="button" class="about-button">Page d'accueil</button></a>

    <hr class="hr-latest-results">
    <h1>Resultats de la rechreche</h1>

    <div class="chosen_values">
      {% if nature_doc %}
      <h4>Nature document :</h4>
      <p class="p-chosen-values">{{ nature_doc|join(", ") }}</p>
      {% endif %}

      {% if nature_delib %}
      <h4>Nature de la déliberation :</h4>
      <p class="p-chosen-values">{{ nature_delib|join(", ") }}</p>
      {% endif %}

      {% if from_date %}
      <h4>De :</h4>
      <p class="p-chosen-values">{{ from_date }}</p>
      {% endif %}

      {% if to_date %}
      <h4>à :</h4>
      <p class="p-chosen-values">{{ to_date }}</p>
      {% endif %}

      {% if title_contains %}
      <h4>Le titre contient :</h4>
      <p class="p-chosen-values">{{ title_contains }}</p>
      {% endif %}

      {% if title_contains_not %}
      <h4>Le titre ne contient pas :</h4>
      <p class="p-chosen-values">{{ title_contains_not }}</p>
      {% endif %}

      {% if text_contains %}
      <h4>Le text contient :</h4>
      <p class="p-chosen-values">{{ text_contains }}</p>
      {% endif %}

      {% if text_contains_not %}
      <h4>et ce qui ne contient pas :</h4>
      <p class="p-chosen-values">{{ text_contains_not }}</p>
      {% endif %}
    </div>

    <div class="results-table-div">
      <div class="latest-deliberations">
        {% if search_result %}
        <article class="article">
          {% for row in search_result: %}
          <h2>{{ row.Titre }}<span> — </span>
            <p class="results-p">
              <a href="{{ url_for('get_deliberation', IDDelib=row.IDDelib) }}" class="a-tag">
                {{ row.TitreLong }}
              </a>
            </p>
          </h2>
          {% endfor %}
        </article>
        {% else %}
        <p class="search-results-p">Aucun résultat ne correspond à votre recherche.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="bottom-container-stats">
  <div class="about-container">
    <h1 class="search-stats">Statistiques pour la recherche</h1>
    <hr class="hr-latest-results">
    <div class="single-delib-stats">
      <div class="word-freq">
        <h3>Les mots les plus fréquents</h3>
        <div class="frequency-table">
          <table>
            <thead class="tr-word-freq">
              <tr>
                <th>Mot</th>
                <th>POS</th>
                <th>Lemme</th>
                <th>Fréquence</th>
              </tr>
            </thead>
            <tbody>
            {% for key, value in word_freq: %}
              <tr>
                <td>{{ key }}</td>
                <td>{{ value["pos"] }}</td>
                <td>{{ value["lemma"] }}</td>
                <td>{{ value["freq"] }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="word-cloud">
        <h3>Nuage de mots</h3>
        <img class="word-cloud-img" src="data:image/png;base64,{{ word_cloud }}" alt="Word Cloud">
      </div>
    </div>
  </div>
</div>
{% endblock %}
  
