{% extends "base.html" %}
{% block title %}Informations statistiques{% endblock %}
{% block content %}
<div class="top-container">
  <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo/logo-transparent-png.png') }}" alt="" class="logo-image"></a>
  <div class="buttons-div">
    <a href="{{ url_for('get_about') }}"><button class="upper-button" type="button" name="button">A propos</button></a>
    <a href="{{ url_for('get_contact') }}"><button type="button" name="button">Nous contacter</button></a>
  </div>
</div>

<div class="bottom-container">
  <div class="about-container">
    <a href="{{ url_for('get_deliberation', IDDelib=IDDelib) }}"><button type="button" name="button" class="about-button">Retourner</button></a>
    <hr class="hr-latest-results">
    <h1>Statistiques pour une seule délibération</h1>
    <div class="single-delib-stats">
      <div>
        <h3>Les mots les plus fréquents</h3>
        {% for key, value in word_freq: %}
<!--        <table>-->
<!--          <tr>-->
<!--            <td>Mot</td>-->
<!--            <td>POS</td>-->
<!--            <td>Lemme</td>-->
<!--            <td>Fréquence</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>{{ key }}</td>-->
<!--            <td>{{ value }}</td>-->
<!--            <td>{{ value }}</td>-->
<!--            <td>{{ value }}</td>-->
<!--          </tr>-->
<!--        </table>-->
        <p class="single-delib-most-freq"> {{ key }} : {{ value }} </p>
        {% endfor %}
      </div>
      <div class="word-cloud">
        <h3>Nuage de mots</h3>
        <img class="word-cloud-img" src="data:image/png;base64,{{ word_cloud }}" alt="Word Cloud">
      </div>

      <div class="ngram-div">
        <form method="POST" action="{{ url_for('get_ngram') }}">
        <label for="text"></label>
        <input type="text" id="text" name="text" value="">
        <button id="smaller-button" type="submit">Générer</button>
        </form>
        <div class="statistical-information">
          <iframe width="100%" height="100%" frameborder="0" scrolling="no" src="{{ url_for('static', filename='images/ngram.html') }}"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}